<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery List</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="assets/js/grocery.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<div ng-app="groceryList" ng-controller="groceryController" class="container small-width">
    <h3 class="text-center text-primary">Grocery List</h3>
    <ul class="list-group">
        <li class="list-group-item text-capitalize lead" ng-repeat="x in products">
            {{x.item}}
            <button class="btn-sm pull-right btn-danger" ng-click="removeItem($index)">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
        </li>
    </ul>

    <form class="text-center">
        <div class="form-group">
            <input type="text" class="form-control-input" ng-model="newItem" placeholder="Add shopping items here...">
            <span class="button btn-blue" ng-click="addItem()">Add</span>
        </div>
    </form>
    <p ng-class="class" class="help-block">{{errorText}}</p>

</div>

</body>
</html>